<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="headfragment.html :: head"></div>

<body>
    <div th:insert="headerfragment.html :: header"></div>

    <main class="container border border-dark">
        <div class="text-center mt-5">
            <h1 th:text="'Best of by ' + ${name} + '!'"/>
        </div>
        <div class="text-center">
            <img src="https://placehold.co/600x200" alt="Placeholder IMG" class="border border-dark">
        </div>
        <div class="fs-4 d-flex justify-content-center mb-5 pb-5">
            <p class="border border-dark p-3" style="max-width: 600px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Commodi qui consequuntur ab neque fugit repellat, obcaecati earum,
                 inventore delectus, animi voluptate iure assumenda quod minus! 
                Quam, exercitationem. Recusandae, quisquam ratione?</p>
        </div>
    </main>



</body>

</html>